@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  background: url("https://assets.hongkiat.com/uploads/minimalist-dekstop-wallpapers/4k/original/15.jpg?3")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* ------------ Navbar.js ------------ */
.navbar {
  margin: 20px 0px 60px;

  display: flex;
  justify-content: center;
}

.navbar h1 {
  padding: 10px;
  /* border: 2px solid; */
  border-radius: 10px;
  background-color: #a2a5c0;
  box-shadow: 1px 1px 3px #555873;
}

/* ------------ Content.Js ------------ */
.input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 600px;
  margin: auto;
  color: #f0f1ff;
  /* padding: 5px; */
  /* border-radius: 5px; */
  /* background-color: #515360; */
}

.mainCardContainer {
  width: 1000px;
  margin: 30px auto;
}

.mainCard .top-row {
  border-radius: 10px;
  flex: 0 0 20%;
  display: flex;
  flex-direction: row;
  background-color: #a2a5c0;
  box-shadow: 1px 1px 4px #515360;
}

.mainCard {
  padding: 10px;
  /* border: 2px solid; */
  border-radius: 10px;
  height: 250px;
  display: flex;
  flex-direction: column;
  font-size: 110%;
  background-color: #f0f1ff;
  /* background-color: #9898b8; */
  box-shadow: 5px 5px 20px #555873, -2px -2px 10px #555873;
}

.mainCard .top-row div {
  flex: 0 1 50%;
  margin: 5px;
}

.mainCard .bottom-row {
  display: flex;
  flex: 1 1 auto;
}

.mainCard .bottom-row .data-col {
  flex: 0 1 50%;
  margin: 5px;
  display: flex;
  flex-direction: column;
}

.mainCard .bottom-row .data-col .data-col-row {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.mainCard .bottom-row .data-col .data-col-row span {
  flex: 0 0 auto;
  margin-right: 20px;
}

.mainCard .mainCard h1 {
  display: inline;
}

.mainCardDiv {
  width: 300px;
  height: 50px;
}

/* .mainCard h1 {
  text-overflow: ellipsis;
} */

.contentCards {
  padding: 10px;
  width: 230px;
  /* border: 2px solid; */
  border-radius: 10px;
  display: inline-block;
  background-color: #f0f1ff;
  box-shadow: 3px 3px 10px #555873;
}

.contentCardsContainer {
  width: 1000px;
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
}

.contentCardsTitle {
  border-radius: 5px;
  background-color: #a2a5c0;
  box-shadow: 1px 1px 3px #515360;
  padding: 0 5px;
  margin-bottom: 5px;
  height: 25px;
}
