@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

/* ------------ Navbar.js ------------ */
.navbar {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

.navbar h1 {
  padding: 10px;
  border: 2px solid;
  border-radius: 10px;
}

/* ------------ Content.Js ------------ */
.input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 600px;
  margin: auto;
}

.mainCardContainer {
  width: 1000px;
  margin: 30px auto;
}

.mainCard {
  padding: 10px;
  border: 2px solid;
  border-radius: 10px;
  height: 250px;
  background-color: lime;
  display: flex;
  flex-direction: column;
  /* display: flex;
  justify-content: space-between; */
}

.mainCard .top-row {
  background-color: red;

  flex: 0 0 20%;
  display: flex;
  flex-direction: row;
}

.mainCard .top-row div {
  background-color: aqua;
  flex: 0 1 50%;
  margin: 5px;
}

.mainCard .bottom-row {
  background-color: orange;
  display: flex;
  flex: 1 1 auto;
}

.mainCard .bottom-row .data-col {
  background-color: pink;
  flex: 0 1 50%;
  margin: 5px;
  display: flex;
  flex-direction: column;
}

.mainCard .bottom-row .data-col .data-col-row {
  flex: 1 1 auto;
  background-color: dodgerblue;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.mainCard .bottom-row .data-col .data-col-row span {
  flex: 0 0 auto;
  background-color: yellow;
  margin-right: 20px;
}

.mainCard .mainCard h1 {
  display: inline;
}

.mainCardCityName {
}

/* .mainCardData {
  display: block;
} */

/* .mainCard div {
  width: 300px;
} */

.mainCardDiv {
  width: 300px;
  height: 50px;
}

.contentCards {
  padding: 10px;
  width: 230px;
  border: 2px solid;
  border-radius: 10px;
  display: inline-block;
}

.contentCardsContainer {
  width: 1000px;
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
}
