@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

/* ------------ Navbar.js ------------ */
.navbar {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

.navbar h1 {
  padding: 10px;
  border: 2px solid;
  border-radius: 10px;
  background-color: #c5d5cb;
}

/* ------------ Content.Js ------------ */
.input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 600px;
  margin: auto;
}

.mainCardContainer {
  width: 1000px;
  margin: 30px auto;
}

.mainCard .top-row {
  border-radius: 10px;
  flex: 0 0 20%;
  display: flex;
  flex-direction: row;
  background-color: #9fa8a3;
}

.mainCard {
  padding: 10px;
  border: 2px solid;
  border-radius: 10px;
  height: 250px;
  display: flex;
  flex-direction: column;
  font-size: 110%;
  background-color: #e3e0cf;
  box-shadow: 10px 10px 35px #9fa8a3, -10px -10px 35px #ffffff;
}

.mainCard .top-row div {
  flex: 0 1 50%;
  margin: 5px;
}

.mainCard .bottom-row {
  display: flex;
  flex: 1 1 auto;
}

.mainCard .bottom-row .data-col {
  flex: 0 1 50%;
  margin: 5px;
  display: flex;
  flex-direction: column;
}

.mainCard .bottom-row .data-col .data-col-row {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.mainCard .bottom-row .data-col .data-col-row span {
  flex: 0 0 auto;
  margin-right: 20px;
}

.mainCard .mainCard h1 {
  display: inline;
}

.mainCardDiv {
  width: 300px;
  height: 50px;
}

.contentCards {
  padding: 10px;
  width: 230px;
  border: 2px solid;
  border-radius: 10px;
  display: inline-block;
  background-color: #e3e0cf;
}

.contentCardsContainer {
  width: 1000px;
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
}

body {
  background: url("https://pbs.twimg.com/media/EC9u2uFX4AIMeCT?format=jpg&name=4096x4096")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
